@charset "UTF-8";
/*
em Html é id em CSS é # (só pode um elemento)
em HTML é class em CSS é . (pode vários elementos com o mesmo class)
*/

body{
    background-color: rgb(157, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(81, 81, 214);
}
h1#principal{
    text-align: center;
    background-color: black;
}
h2{
    color: rgb(209, 87, 87);
}
.basico{
    color: blueviolet;
    font-weight: bold;
}
.intermediario{
    color: burlywood;
}
.avançado{
    color: brown;
}
.destaque{
    background-color: rgb(133, 133, 22);
}